/* ======= GOD (lenwtet) ========= */
.avatar-1BDn8e[src*="327358226511167488"] + h2::after{
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -29px;
  left: -22px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


.avatar-1BDn8e[src*="327358226511167488"]:hover + h2::after{
  color: white;
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 3px 10px !important;
  height: auto;
  width: fit-content !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  bottom: -31px !important;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block !important;
  background-color: transparent;
  box-shadow: none !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="327358226511167488"] + h2::before{
  content: 'yeet';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -58px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
    border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
  z-index: -1;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="327358226511167488"]:hover + h2::before{
  border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="327358226511167488"] + h2::before {
  background-image: url(https://i.gifer.com/68m.gif);
  box-shadow: 0 0 5px rgba(246, 255, 192, 0.658);
}

.avatar-1BDn8e[src*="327358226511167488"] + h2::after {
  background-image: url(https://66.media.tumblr.com/eff655c249a060dbe0ff7c887b44ee2f/tumblr_nmi5q9q42a1sfet3to1_500.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="327358226511167488"]:hover + h2::after {
  filter: drop-shadow(0 0 3px #fddfaa);
}

.avatar-1BDn8e[src*="327358226511167488"]:hover + h2::after {
  content: 'GOD';
  --main-color: #21a37a;
}

[user_by_bdfdb*="327358226511167488"],
[aria-label*="327358226511167488,"] {
	--user-background: url('https://i.gifer.com/Ncxb.gif');
	font-family: "Lucida Console", Courier, monospace;
}
