/* ======= GOD (lenwtet) ========= */
.avatar-1BDn8e[src*="327358226511167488"] + h2::after{
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -29px;
  left: -22px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


.avatar-1BDn8e[src*="327358226511167488"]:hover + h2::after{
  color: white;
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 3px 10px !important;
  height: auto;
  width: fit-content !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  bottom: -31px !important;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block !important;
  background-color: transparent;
  box-shadow: none !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="327358226511167488"] + h2::before{
  content: 'yeet';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -58px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
    border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
  z-index: -1;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="327358226511167488"]:hover + h2::before{
  border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="327358226511167488"] + h2::before {
  background-image: url(https://i.gifer.com/68m.gif);
  box-shadow: 0 0 5px rgba(246, 255, 192, 0.658);
}

.avatar-1BDn8e[src*="327358226511167488"] + h2::after {
  background-image: url(https://66.media.tumblr.com/eff655c249a060dbe0ff7c887b44ee2f/tumblr_nmi5q9q42a1sfet3to1_500.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="327358226511167488"]:hover + h2::after {
  filter: drop-shadow(0 0 3px #fddfaa);
}

.avatar-1BDn8e[src*="327358226511167488"]:hover + h2::after {
  content: 'GOD';
  --main-color: #21a37a;
  background-image: url(https://cdn.lowgif.com/full/c26716e3c99af76d-other-gif-id-12323-gif-abyss.gif);
  bottom: 0px;
  top: 0px;
}

[user_by_bdfdb*="327358226511167488"],
[aria-label*="327358226511167488,"] {
	--user-background: url('https://i.gifer.com/Ncxb.gif');
	font-family: "Lucida Console", Courier, monospace;
}

/* ======= Brother (APA64IK) ========= */

.avatar-1BDn8e[src*="259687004017524756"] + h2::after{
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -29px;
  left: -22px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


.avatar-1BDn8e[src*="259687004017524756"]:hover + h2::after{
  color: white;
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 3px 10px !important;
  height: auto;
  width: fit-content !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  bottom: -31px !important;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block !important;
  background-color: transparent;
  box-shadow: none !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="259687004017524756"] + h2::before{
  content: 'yeet';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -58px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
    border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
  z-index: -1;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="259687004017524756"]:hover + h2::before{
  border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="259687004017524756"] + h2::before {
  background-image: url(https://i.gifer.com/MdIy.gif);
  box-shadow: 0 0 5px rgba(246, 255, 192, 0.658);
}

.avatar-1BDn8e[src*="259687004017524756"] + h2::after {
  background-image: url(https://avatars.mds.yandex.net/get-pdb/1809111/57dc4574-c1f4-453c-b3f7-3191d875cdcb/s375);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="259687004017524756"]:hover + h2::after {
  filter: drop-shadow(0 0 3px #fddfaa);
}

.avatar-1BDn8e[src*="259687004017524756"]:hover + h2::after {
  content: 'GOD x2';
  --main-color: #21a37a;
}

[user_by_bdfdb*="259687004017524756"],
[aria-label*="259687004017524756,"] {
	--user-background: url('https://i.gifer.com/Jn9R.gif');
	font-family: "Lucida Console", Courier, monospace;
}

/* ----- DUCK MINISTRY -----*/
.avatar-1BDn8e[src*="314750999879352335"] + h2::after {
  background-image: url(https://www.pngarts.com/files/2/Duck-Transparent-Images.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="294129520477470720"] + h2::after {
  background-image: url(https://www.pngarts.com/files/2/Duck-Transparent-Images.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="485116164419354626"] + h2::after {
  background-image: url(https://www.pngarts.com/files/2/Duck-Transparent-Images.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="341597450538319872"] + h2::after {
  background-image: url(https://www.pngarts.com/files/2/Duck-Transparent-Images.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="360758772966359043"] + h2::after {
  background-image: url(https://www.pngarts.com/files/2/Duck-Transparent-Images.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="319865288743059467"] + h2::after {
  background-image: url(https://www.pngarts.com/files/2/Duck-Transparent-Images.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="288723121379213313"] + h2::after {
  background-image: url(https://www.pngarts.com/files/2/Duck-Transparent-Images.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

/* ======= MODO1O ========= */
.avatar-1BDn8e[src*="484370350529052686"] + h2::after{
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -29px;
  left: -22px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


.avatar-1BDn8e[src*="484370350529052686"]:hover + h2::after{
  color: white;
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 3px 10px !important;
  height: auto;
  width: fit-content !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  bottom: -31px !important;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block !important;
  background-color: transparent;
  box-shadow: none !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="484370350529052686"] + h2::before{
  content: 'yeet';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -58px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
    border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
  z-index: -1;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="484370350529052686"]:hover + h2::before{
  border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
}

.contents-2mQqc9 .avatar-1BDn8e[src*="484370350529052686"] + h2::before {
  background-image: url(https://i.gifer.com/CGjn.gif);
  box-shadow: 0 0 5px rgba(246, 255, 192, 0.658);
}

.avatar-1BDn8e[src*="484370350529052686"] + h2::after {
  background-image: url(https://toppng.com/public/uploads/preview/anime-png-girl-anime-girl-png-no-background-11563069727esdeyi0jru.png);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}

.avatar-1BDn8e[src*="484370350529052686"]:hover + h2::after {
  filter: drop-shadow(0 0 3px #fddfaa);
}

.avatar-1BDn8e[src*="484370350529052686"]:hover + h2::after {
  content: '.cpg';
  --main-color: #21a37a;
}

[user_by_bdfdb*="484370350529052686"],
[aria-label*="484370350529052686,"] {
	--user-background: url('https://i.gifer.com/Q2Zz.gif');
	font-family: "Lucida Console", Courier, monospace;
}
